html, body {
    margin: 0;
}

ul {
    list-style: none;
}

.table {
    margin-bottom: 0;
}

.restaurant {
    cursor: pointer;
    color: #007bff;
}

.gInfo {
    width: 20%;
}

.gAmount {
    border: 0; 
    color: #f6931f; 
    font-weight: bold;
}

/** HELPERS **/

.text-center {
    text-align: center;
}

.stretch {
    height: 100%;
}

.noPadding {
    padding: 0;
}

.breakLine {
    margin-bottom: 16px;
}