html, body {
    margin: 0;
}

ul {
    list-style: none;
}

.table {
    margin-bottom: 0;
}

.restaurant {
    cursor: pointer;
    color: #007bff;
}

.gInfo {
    width: 20%;
}

.gAmount {
    border: 0; 
    color: #f6931f; 
    font-weight: bold;
}

.rating-stars ul {
    list-style-type: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.rating-stars ul > li.star {
    display: inline-block;
}

.rating-stars ul > li.star > i.fa {
    font-size: 2.5em;
    color: #ccc;
}

.rating-stars ul > li.star.hover > i.fa {
    color: #FFCC36;
}

.rating-stars ul > li.star.selected > i.fa {
    color: #FF912C;
}

#loadingMessage {
    margin-top: 20px;
}

#loadingSpin {
    margin-top: 320px;
}

/** HELPERS **/

.text-center {
    text-align: center;
}

.stretch {
    height: 100%;
}

.noPadding {
    padding: 0;
}

.breakLine {
    margin-bottom: 16px;
}
