html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    padding: 0;
}

.table {
    height: 100%;
    margin-bottom: 0;
}

.restaurant {
    cursor: pointer;
    color: #007bff;
}

#map {
    height: 100%;
}

#info {
    width: 20%;
    text-align: center;
}

#amount {
    text-align: center;
}
