html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    padding: 0;
}

.table {
    height: 100%;
    margin-bottom: 0;
}

.restaurant {
    cursor: pointer;
    color: #007bff;
}

#map {
    height: 100%;
}

#info {
    width: 20%;
    text-align: center;
}

#amount {
    text-align: center;
}

.rating {
    transform: rotateY(180deg);
}

.rating input {
    display: none;
}

.rating label {
    cursor: pointer;
    width: 50px;
}

.rating label:before {
    content: '\f005';
    font-family: fontAwesome;
    position: relative;
    font-size: 50px;
    color: #101010;
}

.rating label:after {
    content: '\f005';
    font-family: fontAwesome;
    position: absolute;
    display: block;
    font-size: 50px;
    color: #1f9cff;
    top: 0;
    opacity: 0;
    transition: .5s;
    text-shadow: 0 2px 5px rgba(0,0,0,.5);
}

.rating label:hover:after,
.rating label:hover ~ label:after,
.rating input:checked ~ label:after {
    opacity: 1;
}










